.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}
h3{
    color: white;
}
em{
    color:rgb(197, 197, 197);
}
.name-description{
    width: 80%;
}
li{
    display: flex;
    justify-content: space-evenly;
}